<div class="container pt-4">
    <div class="card">
      <h5 class="card-header">
        Conoce A Una Pareja Feliz
      </h5>
      <div class="card-body">
        <ng-container [formGroup]="form">
  
          <div class="row">
            <div class="col-md-6">
              <app-foto [medidas]="IMAGE" (imagenesOut)="cargarImagen($event)"></app-foto>
            </div>
            <div class="col-md-6">
              <mdb-form-control class="mb-4">
                <textarea mdbValidate mdbInput rows="7" class="form-control" formControlName="mensaje" placeholder="Texto libre"></textarea>
                <label mdbLabel class="form-label" for="mensaje">
                  Mensaje
                  <span class="text-danger">*</span>
                </label>
              </mdb-form-control>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  