<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let imagen of imagenes">
            <td class="text-center">
                <button type="button" class="btn btn-danger" (click)="eliminarImagen(imagen?._id??'')">
                    <i class="fa fa-trash"></i>
                </button>
                <button type="button" class="btn btn-info bt" (click)="verImagen(imagen?.archivo??'')">
                    <i class="fa fa-eye"></i>
                </button>
            </td>
            <td>
                {{imagen.nombre}}
            </td>
        </tr>
    </tbody>
</table>
