<div class="container pt-4">
    <div class="card">
        <h5 class="card-header">
            Cuenta regresiva
        </h5>
        <div class="card-body">
            <ng-container [formGroup]="form">
                <div class="row">
                    <div class="col-md-3">
                        <mdb-form-control class="mb-4">
                            <input mdbValidate mdbInput class="form-control" formControlName="fecha" type="date" />
                            <label mdbLabel class="form-label" for="fecha">
                                Fecha de matrimonio
                                <span class="text-danger">*</span>
                            </label>
                        </mdb-form-control>
                    </div>
                    <div class="col-md-3">
                        <mdb-form-control class="mb-4">
                            <input mdbValidate mdbInput class="form-control" formControlName="hora" type="time" />
                            <label mdbLabel class="form-label" for="hora">
                                Hora de matrimonio
                                <span class="text-danger">*</span>
                            </label>
                        </mdb-form-control>
                    </div>
                    <div class="col-md-3">
                        <mdb-form-control class="mb-4">
                            <input mdbValidate mdbInput class="form-control" formControlName="direccion" placeholder="Dirección (Texto)" />
                            <label mdbLabel class="form-label" for="direccion">
                                Dirección (Texto)
                                <span class="text-danger">*</span>
                            </label>
                        </mdb-form-control>
                    </div>
                    <div class="col-md-3">
                        <mdb-form-control class="mb-4">
                            <input mdbValidate mdbInput class="form-control" formControlName="url" placeholder=" Dirección (Url)" />
                            <label mdbLabel class="form-label" for="url">
                                Dirección (Url)
                                <span class="text-danger">*</span>
                            </label>
                        </mdb-form-control>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>