<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <form [formGroup]="formAuth">
                        <div class="card-body p-5 text-center">

                            <h3 class="mb-5">Registro</h3>

                            <div class="form-outline mb-4">
                                <input formControlName="name" type="text" id="name"
                                    class="form-control form-control-lg" />
                                <label class="form-label" for="name">Nombres</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input formControlName="lastName" type="text" id="lastName"
                                    class="form-control form-control-lg" />
                                <label class="form-label" for="lastName">Apellido</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input formControlName="email" type="email" id="email"
                                    class="form-control form-control-lg" />
                                <label class="form-label" for="email">Correo Electrónico</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input formControlName="password" type="password" id="password"
                                    class="form-control form-control-lg" />
                                <label class="form-label" for="password">Contraseña</label>
                            </div>

                            <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="onSumit()"
                                [disabled]="!valid()">
                                Registrarse
                            </button>

                            <hr class="my-4">
                            <p class="mb-2">¿Ya estas registrado? <a [routerLink]="['/auth/sign-in']">Iniciar Sesión</a>
                            </p>

                            <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
                                type="submit">
                                <i class="fab fa-google me-2"></i>
                                Registrarse con google
                            </button>

                            <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;"
                                type="submit">
                                <i class="fab fa-facebook-f me-2"></i>
                                Registrarse con facebook
                            </button>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>