<div class="container pt-4">
    <div class="card">
        <h5 class="card-header">
            Cuando y Donde
        </h5>
        <div class="card-body">
            <button class="btn btn-outline-success mb-3" (click)="open(content)">Agregar</button>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Eliminar</th>
                        <th>Titulo</th>
                        <th>Hora</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of blocs">
                        <td>
                            <button type="button" class="btn btn-danger" (click)="eliminar(item?.uuid??'')">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                        <td>{{ item.titulo }}</td>
                        <td>{{ item.hora }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Agregar evento</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <ng-container [formGroup]="formBloc">
            <div class="row">
                <div class="col-md-6">
                    <mdb-form-control class="mb-4">
                        <input mdbValidate mdbInput class="form-control" formControlName="titulo" type="text" />
                        <label mdbLabel class="form-label" for="titulo">
                            Titulo
                            <span class="text-danger">*</span>
                        </label>
                    </mdb-form-control>
                </div>
                <div class="col-md-6">
                    <mdb-form-control class="mb-4">
                        <input mdbValidate mdbInput class="form-control" formControlName="hora" type="time" />
                        <label mdbLabel class="form-label" for="hora">
                            Hora
                            <span class="text-danger">*</span>
                        </label>
                    </mdb-form-control>
                </div>
                <div class="col-md-12">
                    <mdb-form-control class="mb-4">
                        <textarea mdbValidate mdbInput rows="3" class="form-control"
                            formControlName="descripcion"></textarea>
                        <label mdbLabel class="form-label" for="descripcion">
                            Descripción
                            <span class="text-danger">*</span>
                        </label>
                    </mdb-form-control>
                </div>
                <div class="col-md-12 mt-3">
                    <button (click)="guardar(content)" class="btn btn-success" [disabled]="!valid()">Guardar</button>
                </div>
            </div>
        </ng-container>
    </div>
</ng-template>