<div class="container pt-4">
  <div class="card">
    <h5 class="card-header">
      Configuración Cabecera
    </h5>
    <div class="card-body">
      <ng-container [formGroup]="form">

        <div class="row">
          <div class="col-6">
            <app-foto (imagenesOut)="cargarImagen($event)"></app-foto>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <label>
                  Titulo página
                  <span class="text-danger">*</span>
                </label>
                <input class="form-control" formControlName="tituloPagina" placeholder="Titulo página" />
              </div>
              <div class="col-md-12">
                <label>
                  Mensaje
                  <span class="text-danger">*</span>
                </label>
                <textarea rows="7" class="form-control" formControlName="mensaje" placeholder="Texto libre"></textarea>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>