<div class="row">
  <div [class]="mostrarLista ? 'col-6' : 'col-12'" >
    <div class="row">
      <div [class]="dosFilas ? 'col-6 text-center' : 'col-12 text-center'">
        <app-vista-previa [medidas]="medidas" ></app-vista-previa>
      </div>
      <div [class]="dosFilas ? 'col-6 text-center' : 'col-12 text-center'">
        <app-carga [label]="label" (imagen)="agregarDocumento($event)"></app-carga>
      </div>
    </div>
  </div>
  <div class="col-6" *ngIf="mostrarLista">
    <app-lista (vistaPrevia)="verImagen($event)" [imagenes]="imagenes" (imagenesOut)="eliminarImagen($event)"></app-lista>
  </div>
</div>