<div class="container pt-4">
    <div class="card">
        <h5 class="card-header">
            Testimonios
        </h5>
        <div class="card-body">
            <button class="btn btn-outline-success mb-3" (click)="open(content)">Agregar</button>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Eliminar</th>
                        <th>Autor</th>
                        <th>Parentezco</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of blocs">
                        <td>
                            <button type="button" class="btn btn-danger" (click)="eliminar(item?.uuid??'')">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                        <td>{{ item.autor }}</td>
                        <td>{{ item.parentezco }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Agregar testimonio o deseo</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <ng-container [formGroup]="formBloc">
            <div class="row">
                <div class="col-md-6">
                    <label>Autor <span class="text-danger">*</span></label>
                    <input class="form-control" formControlName="autor" />
                </div>
                <div class="col-md-6">
                    <label>Parentezco <span class="text-danger">*</span></label>
                    <input class="form-control" formControlName="parentezco" />
                </div>
                <div class="col-md-12">
                    <label>Descripción <span class="text-danger">*</span></label>
                    <textarea rows="3" class="form-control" formControlName="descripcion" ></textarea>
                </div>
                <div class="col-md-12 mt-3">
                    <button (click)="guardar(content)" class="btn btn-success">Guardar</button>
                </div>
            </div>
        </ng-container>
    </div>
</ng-template>