<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" [routerLink]="'/'" >
      <b>BCARD</b>
    </a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" (click)="buttonsNav.toggle()" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample" mdbCollapse #buttonsNav="mdbCollapse">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/profile" routerLinkActive="active">Mantenimiento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/profile/history', tituloPagina]" routerLinkActive="active">Historial de vistas</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <h6 class="px-3 me-2">
          {{ usuarioToken.user.name }} {{ usuarioToken.user.lastName }}
        </h6>
        <button type="button" class="btn btn-primary me-3" (click)="cerrarSesion()">
          Cerrar sesión
        </button>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<div class="container">
  <div class="row">

    <div class="col-md-12">
      <form [formGroup]="nav">
        <app-profile-nav [form]="nav"></app-profile-nav>
      </form>
    </div>

    <div class="col-md-12">
      <form [formGroup]="header">
        <app-profile-header [form]="header"></app-profile-header>
      </form>
    </div>

    <div class="col-md-12">
      <form [formGroup]="about">
        <app-profile-about [form]="about"></app-profile-about>
      </form>
    </div>

    <div class="col-md-12">
      <form [formGroup]="banner">
        <app-profile-banner [form]="banner"></app-profile-banner>
      </form>
    </div>

    <div class="col-md-12">
      <form [formGroup]="gallery">
        <app-profile-gallery [form]="gallery"></app-profile-gallery>
      </form>
    </div>

    <div class="col-md-12">
      <form [formGroup]="countdown">
        <app-profile-countdown [form]="countdown"></app-profile-countdown>
      </form>
    </div>

    <div class="col-md-12">
      <form [formGroup]="blog">
        <app-profile-blog [form]="blog"></app-profile-blog>
      </form>
    </div>

    <div class="col-md-12">
      <form [formGroup]="when">
        <app-profile-when-n-where [form]="when"></app-profile-when-n-where>
      </form>
    </div>

    <div class="col-md-12">
      <form [formGroup]="testimonial">
        <app-profile-testimonial [form]="testimonial"></app-profile-testimonial>
      </form>
    </div>

    <div class="col-md-12">
      <div class="container pt-4">
        <div class="card">
          <div class="card-body text-right">
            <button class="btn btn-success" type="button" (click)="guardarFormulario()" [disabled]="!valid()">
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>