

<form [formGroup]="nav">
  <app-profile-nav [form]="nav"></app-profile-nav>
</form>

<form [formGroup]="header">
  <app-profile-header [form]="header"></app-profile-header>
</form>

<form [formGroup]="about">
  <app-profile-about [form]="about"></app-profile-about>
</form>

<form [formGroup]="banner">
  <app-profile-banner [form]="banner"></app-profile-banner>
</form>

<form [formGroup]="gallery">
  <app-profile-gallery [form]="gallery"></app-profile-gallery>
</form>

<form [formGroup]="countdown">
  <app-profile-countdown [form]="nav"></app-profile-countdown>
</form>

<form [formGroup]="blog">
  <app-profile-blog [form]="blog"></app-profile-blog>
</form>

<form [formGroup]="when">
  <app-profile-when-n-where [form]="when"></app-profile-when-n-where>
</form>

<form [formGroup]="counter">
  <app-profile-counter [form]="counter"></app-profile-counter>
</form>

<form [formGroup]="testimonial">
  <app-profile-testimonial [form]="testimonial"></app-profile-testimonial>
</form>


<form [formGroup]="footer">
  <app-profile-footer [form]="footer"></app-profile-footer>
</form>
