<app-wedding-nav [wedding]="wedding" ></app-wedding-nav>
<app-wedding-header [wedding]="wedding" ></app-wedding-header>
<app-wedding-about [wedding]="wedding" ></app-wedding-about>
<app-wedding-banner [wedding]="wedding" ></app-wedding-banner>
<app-wedding-gallery [wedding]="wedding" ></app-wedding-gallery>
<app-wedding-countdown [wedding]="wedding" ></app-wedding-countdown>
<app-wedding-blog [wedding]="wedding" ></app-wedding-blog>
<app-wedding-when-n-where [wedding]="wedding" ></app-wedding-when-n-where>
<app-wedding-counter [wedding]="wedding" ></app-wedding-counter>
<app-wedding-testimonial [wedding]="wedding" ></app-wedding-testimonial>
<!-- <app-wedding-brand [wedding]="wedding" ></app-wedding-brand> -->
<!-- <app-wedding-subscribe [wedding]="wedding" ></app-wedding-subscribe> -->
<app-wedding-footer [wedding]="wedding" ></app-wedding-footer>