/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
body {
    font-size: 12px;
}

.form-control, .btn {
    font-size: 12px !important;
}

label, th, td {
    font-size: 12px !important;
}
